* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Josefin Sans", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 524px;
    background-color: hsl(0, 0%, 100%);
    margin-top: 80px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 680px;
}

.left-side {
    background-image: url("./images/bg-pattern-desktop.svg"), linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 20%;
    padding-top: 8%;
}

.logo img {
    width: 150px;
}

.right-side {
    background-image: url("./images/hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 524px;
    height: 680px; */
}

.right-side img {
    max-width: 100%;
    max-height: 100%;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 132px;
    letter-spacing: 12px;
    
}

.title .weare {
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}

.text {
    width: 65%;
    margin-top: 35px;
    line-height: 1.5;
    color: hsl(0, 36%, 70%);
    font-weight: 400;
    font-size: 0.85rem;
}

.subscribe {
    margin-top: 25px;
    position: relative;
    width: 65%;
    height: 40px;
    border: 1px solid rgba(206,151,151, .4);
    border-radius: 30px;
    background: transparent;
    color: hsl(0, 6%, 24%);
    /* background-color: yellow; */
}

.subscribe input {
    height: 40px;
    width: 90%;
    margin-left: 20px;
    border: none;
    background: transparent;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 600;
}

.subscribe input:focus {
    outline: none;
}

::placeholder {
    color: hsl(0, 36%, 70%);
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
    opacity: .4;
    font-size: 0.85rem;
}

.submit-button {
    width: 75px;
    height: 40px;
    position: absolute;
    right: -2px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%)), url("./images/icon-arrow.svg");
    box-shadow: 0 16px 8px 0 hsl(0, 74%, 74%, .2);
    outline: none;
}

.button-error {
    background-image:  none;
    background-color: hsl(0, 80%, 86%);
}

.arrowimg {
    height: 16px;
}

.errorimg {
    height: 20px;
    position: absolute;
    top: 10px;
    right: 23%;
}

.warning {
    margin-top: 10px;
    margin-left: 20px;
    color: red;
    font-size: 12px;
}

.invisible {
    display: none;
}


@media screen and (max-width: 1439px) {
    .container {
        width: 100%;
        max-width: 375px;
        grid-template-rows: 70px 250px 1fr;
        grid-template-columns: 375px;
    }
    .right-side {
        grid-row: 2 / 3;
        background-image: url("./images/hero-mobile.jpg");
    }
    .left-side {
        grid-row: 3 / 4;
        position: relative;
        background-color: hsl(0, 100%, 98%);
        background-image: none;
        padding: 0;
    }
    .logo {
        position: absolute;
        top: -305px;
        left: 30px;
    }
    .logo img {
        width: 120px;
    }
    .title, .text, .subscribe {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .title {
        margin-top: 60px;
        font-size: 2.7rem;
    }
    .text {
        margin-top: 20px;
        width: 80%;
    }
    .subscribe {
        width: 85%;
        margin-bottom: 100px;
        height: 38px;
    }
    .submit-button {
        width: 55px;
        bottom: 0;
    }

}


